@{
    ViewBag.Title = "_Header";
}

<div id="header" class="mdk-header bg-dark js-mdk-header mb-0" data-effects="waterfall blend-background" data-fixed="" data-condenses="" data-domfactory-upgraded="mdk-header" style="padding-top: 64px;">
    <div class="mdk-header__bg"><div class="mdk-header__bg-front" style="transform: translateZ(0px); will-change: opacity; opacity: 1;"></div><div class="mdk-header__bg-rear" style="transform: translateZ(0px); will-change: opacity; opacity: 0;"></div></div>
    <div class="mdk-header__content">

        <div class="navbar navbar-expand-sm navbar-dark bg-dark pr-0 pr-md-16pt mdk-header--fixed mdk-header--shadow" id="default-navbar" data-primary="data-primary">

            <!-- Navbar toggler -->
            <button class="navbar-toggler navbar-toggler-right d-block d-md-none" type="button" data-toggle="sidebar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar Brand -->
            <a href="@Url.Action("Index","Home")" class="navbar-brand">
                <img class="navbar-brand-icon mr-0 mr-md-8pt" src="~/Content/images/logo/white-100@2x.png" width="30" alt="Tutorio">
                <span class="d-none d-md-block">Exams</span>
            </a>





            <!-- Main Navigation -->
            <!-- // END Main Navigation -->

        </div>

    </div>
</div>